@model IEnumerable<Test_AmarPC.Areas.DashBoard.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Job Offering WebSite</h1>
    <p class="lead"> Website Help You To Find Job If You Are Seeker And Publishing Your Job If  Publisher.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <h1 class="panel panel-heading">@Html.DisplayFor(modelitem => item.CategoryName)</h1>
            <p>@Html.DisplayFor(modelitem => item.CategoryDescription)</p>



            <div class="row">
                @foreach (var subitem in item.Jobs)
                {
                    <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; min-height:300px">
                        <img src="~/Uploads/@subitem.JobImage" style="border-radius:20%">
                        <h3>@Html.DisplayFor(modelItem => subitem.JobTitle)</h3>
                        @Html.ActionLink("Detials", "Detials", new { id = subitem.Id }, new { @class = "btn btn-primary" })
                    </div>
                }
            </div>
        </div>
    }

